.header__top {
  display: flex;
  padding: 2rem 3.5rem;
  align-items: center;
}
@media (max-width: 768px) {
  .header__top {
    justify-content: space-between;
    padding: 2rem 1rem;
  }
}
.header__logo {
  margin-right: 5rem;
}
@media (max-width: 768px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__logo a {
  text-decoration: none;
}
.header__logo a img {
  height: 3rem;
}
@media (max-width: 414px) {
  .header__logo a img {
    height: 2.4rem;
    margin-left: 1rem;
  }
}
.header__search {
  border: 1px solid #0094DA;
  border-radius: 0.8rem;
  overflow: hidden;
  flex: 1;
}
@media (max-width: 768px) {
  .header__search {
    display: none;
  }
}
.header__search-wrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.header__search-wrap i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: white;
}
.header__search form {
  display: flex;
  align-items: center;
  /* For IE10 */
}
.header__search form select {
  cursor: pointer;
  padding: 1rem;
  border: none;
  background-color: #0094DA;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1.4rem;
  position: relative;
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
.header__search form select option {
  background-color: white;
  color: #0094DA;
}
.header__search form select::-ms-expand {
  display: none;
}
.header__search form input {
  padding: 1rem;
  border: none;
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  flex: 1;
  outline: none;
}
.header__search form .header__search-icon {
  margin-right: 1rem;
}
.header__search form .header__search-icon i {
  font-size: 1.4rem;
  color: #0094DA;
}
.header__account {
  margin-left: 5rem;
  display: flex;
  align-items: center;
  border: 1px solid #0094DA;
  padding: 0.7rem 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__account {
    display: none;
  }
}
.header__account i {
  font-size: 2.2rem;
  color: #0094DA;
  margin-right: 1rem;
}
.header__account p {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}
.header__account:hover {
  background-color: #0094DA;
}
.header__account:hover i {
  color: white;
}
.header__account:hover p {
  color: white;
}
.header__cart {
  display: flex;
  margin-left: 4rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__cart {
    margin-left: 0;
  }
}
@media (max-width: 414px) {
  .header__cart {
    margin-right: 0.4rem;
  }
}
.header__cart-icon {
  position: relative;
  padding: 0.8rem 0.8rem;
  align-items: center;
}
.header__cart-icon i {
  font-size: 2.2rem;
  color: #0094DA;
}
.header__cart-amount {
  border: 0.2rem solid #F68121;
  display: flex;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #F68121;
  font-weight: 700;
  font-size: 1.6rem;
  background-color: white;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__nav-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin: 0;
  border-top: 1px solid rgba(85, 85, 85, 0.4);
}
.header__nav-item {
  list-style: none;
  position: relative;
  z-index: 4;
}
.header__nav-item:nth-child(2):hover .header__nav-child, .header__nav-item:nth-child(3):hover .header__nav-child, .header__nav-item:nth-child(4):hover .header__nav-child, .header__nav-item:nth-child(2):active .header__nav-child, .header__nav-item:nth-child(3):active .header__nav-child, .header__nav-item:nth-child(4):active .header__nav-child {
  opacity: 1;
  visibility: visible;
}
.header__nav-item:hover {
  background-color: #f0f5f7;
}
.header__nav-link {
  padding: 1rem 2.5rem;
  text-decoration: none;
  font-size: 2.2rem;
  color: #0094DA;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
@media (max-width: 1024px) {
  .header__nav-link {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
}
.header__nav-link i {
  font-size: 1.4rem;
  margin-left: 0.6rem;
}
.header__nav-child {
  margin: 0;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 1rem 0;
  width: 55rem;
  display: flex;
  flex-flow: column wrap;
  height: 20rem;
  background-color: #f0f5f7;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.header__nav-child-item {
  list-style: none;
  display: flex;
  flex: 1 1 2rem;
}
.header__nav-child-link {
  padding: 1rem 2.5rem;
  width: 100%;
  font-size: 1.8rem;
  text-decoration: none;
  color: #0094DA;
  font-weight: 500;
}
.header__nav-child-link:hover i {
  opacity: 1;
  visibility: visible;
}
.header__nav-child-link:hover span {
  transform: translateX(0);
}
.header__nav-child-link i {
  margin-right: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.header__nav-child-link span {
  transform: translateX(-2rem);
  display: inline-block;
  transition: all 0.2s;
}
.header__benifits {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid rgba(85, 85, 85, 0.4);
}
@media (max-width: 414px) {
  .header__benifits {
    display: none;
  }
}
.header__benifits-item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: rgba(85, 85, 85, 0.8);
  font-weight: 500;
}
.header__benifits-item i {
  font-size: 3.5rem;
  margin-right: 1.6rem;
}
@media (max-width: 768px) {
  .header__benifits-item i {
    font-size: 2.8rem;
  }
}
.header__benifits-item p {
  width: 10rem;
  line-height: 1.8rem;
}
.header__banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 4.5rem;
}
.header__banner-slide {
  width: 100%;
  display: flex;
  position: relative;
  transition: all 0.8s ease-in-out;
}
.header__banner-img {
  display: block;
}
.header__banner-item {
  position: relative;
}
.header__banner-content {
  position: absolute;
  top: 50%;
  left: 9rem;
  transform: translateY(-50%);
}
@media (max-width: 414px) {
  .header__banner-content {
    left: 4rem;
  }
}
.header__banner-content a {
  width: 21rem;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__banner-content a i {
  font-size: 1.8rem;
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .header__banner-content a i {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .header__banner-content a {
    width: 16rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 414px) {
  .header__banner-content a {
    width: 12rem;
    font-size: 1.2rem;
  }
}
.header__banner-logo {
  width: 30rem;
}
@media (max-width: 1024px) {
  .header__banner-logo {
    width: 25rem;
  }
}
@media (max-width: 768px) {
  .header__banner-logo {
    width: 20rem;
  }
}
@media (max-width: 414px) {
  .header__banner-logo {
    width: 12rem;
  }
}
.header__banner-slogan {
  font-size: 3.5rem;
  font-weight: bold;
  width: 45rem;
  text-transform: uppercase;
}
.header__banner-slogan:nth-child(2) {
  margin: 1.5rem 0 0;
}
@media (max-width: 414px) {
  .header__banner-slogan:nth-child(2) {
    margin: 0.5rem 0 0;
  }
}
.header__banner-slogan:nth-child(3) {
  margin: 0 0 4rem;
}
@media (max-width: 414px) {
  .header__banner-slogan:nth-child(3) {
    margin: 0 0 1rem;
  }
}
@media (max-width: 1024px) {
  .header__banner-slogan {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .header__banner-slogan {
    font-size: 2.2rem;
  }
}
@media (max-width: 414px) {
  .header__banner-slogan {
    font-size: 1.4rem;
  }
}
.header__banner-pre, .header__banner-next {
  font-size: 4.5rem;
  color: #0094DA;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s;
}
.header__banner-pre:hover, .header__banner-next:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 768px) {
  .header__banner-pre, .header__banner-next {
    font-size: 3.5rem;
  }
}
@media (max-width: 414px) {
  .header__banner-pre, .header__banner-next {
    font-size: 2.5rem;
    width: 3rem;
    height: 3rem;
  }
}
.header__banner-pre {
  left: 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__banner-pre {
    left: 0;
  }
}
@media (max-width: 414px) {
  .header__banner-pre {
    left: 0.5rem;
  }
}
.header__banner-next {
  right: 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__banner-next {
    right: 0;
  }
}
@media (max-width: 414px) {
  .header__banner-next {
    right: 0.5rem;
  }
}
.header__banner-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.header__banner-dot {
  margin: 2rem 2rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .header__banner-dot {
    width: 1.4rem;
    height: 1.4rem;
    margin: 1.2rem;
  }
}
@media (max-width: 768px) {
  .header__banner-dot {
    width: 1rem;
    height: 1rem;
    margin: 1rem;
  }
}
.header__banner-dot-inner {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .header__banner-dot-inner {
    width: 0.8rem;
    height: 0.8rem;
  }
}
@media (max-width: 414px) {
  .header__banner-dot-inner {
    width: 0.6rem;
    height: 0.6rem;
  }
}
.header__banner-dot-active {
  background-color: #0094DA;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #555;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}

.menu--respond-checkbox {
  display: none;
}
.menu--respond-btn {
  width: 4rem;
  height: 4rem;
  text-align: center;
  display: none;
  z-index: 4;
  position: relative;
}
@media (max-width: 768px) {
  .menu--respond-btn {
    display: inline-block;
  }
}
.menu--respond-btn__icon {
  position: relative;
  margin-top: 2rem;
}
.menu--respond-btn__icon, .menu--respond-btn__icon::before, .menu--respond-btn__icon::after {
  width: 3rem;
  height: 0.4rem;
  background-color: #0094DA;
  display: inline-block;
}
@media (max-width: 414px) {
  .menu--respond-btn__icon, .menu--respond-btn__icon::before, .menu--respond-btn__icon::after {
    width: 2.5rem;
    height: 0.3rem;
  }
}
.menu--respond-btn__icon::before, .menu--respond-btn__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.menu--respond-btn__icon::before {
  top: -1rem;
}
@media (max-width: 414px) {
  .menu--respond-btn__icon::before {
    top: -0.8rem;
  }
}
.menu--respond-btn__icon::after {
  top: 1rem;
}
@media (max-width: 414px) {
  .menu--respond-btn__icon::after {
    top: 0.8rem;
  }
}
.menu--respond-checkbox:checked + .menu--respond-btn .menu--respond-btn__icon {
  background-color: transparent;
}
.menu--respond-checkbox:checked + .menu--respond-btn .menu--respond-btn__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.menu--respond-checkbox:checked + .menu--respond-btn .menu--respond-btn__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.menu--respond-checkbox:checked ~ .menu--respond-slide {
  opacity: 1;
  visibility: visible;
}
.menu--respond-slide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 2.2rem 4rem 0rem;
  background-color: #f0f5f7;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
@media (max-width: 414px) {
  .menu--respond-slide {
    width: 100%;
    padding: 2.2rem 2rem 0rem;
  }
}
.menu--respond-input {
  border: none;
  padding: 1rem;
  flex: 1;
}
.menu--respond-search {
  display: flex;
  align-items: center;
  background-color: white;
  margin-left: 6rem;
  border: 2px solid #f0f5f7;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  overflow: hidden;
}
@media (max-width: 414px) {
  .menu--respond-search {
    margin-left: 3.8rem;
  }
}
.menu--respond-search-icon {
  padding-right: 1rem;
  color: #0094DA;
}
.menu--respond-list {
  padding: 0;
}
.menu--respond-item {
  list-style: none;
}
.menu--respond-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #0094DA;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.5rem 0;
}
.menu--respond-account {
  margin: 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu--respond-account span {
  position: relative;
}
.menu--respond-account span:first-child::after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -1.4rem;
  background-color: rgba(85, 85, 85, 0.2);
}
@media (max-width: 414px) {
  .menu--respond-account span:first-child::after {
    right: -3.4rem;
  }
}
.menu--respond-account span a {
  display: inline-block;
  height: 33px;
}

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  transition: all 0.2s;
}
@media (max-width: 1024px) {
  .btn {
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
  }
}
.btn--primary {
  background-color: #0094DA;
  color: white;
  border: none;
}
.btn--primary:hover {
  background-color: #006a9c;
}
.btn--primary-light {
  background-color: #f0f5f7;
  border: 2px solid #0094DA;
  color: #0094DA;
  padding: 0.3rem 2rem;
}
.btn--primary-light:hover {
  background-color: #0094DA;
  color: white;
}
.btn--white {
  background-color: white;
  color: #0094DA;
  transition: all 0.2s;
}
.btn--rounded {
  border-radius: 0.8rem;
}
.btn--full {
  width: 100%;
  padding: 0.8rem;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  z-index: 10;
}
.modal--appear {
  opacity: 1;
  visibility: visible;
}
.modal__overlay {
  background-color: rgba(85, 85, 85, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.modal__body {
  background-color: white;
  position: relative;
  border-radius: 0.8rem;
}
.modal .auth-form {
  position: relative;
  padding: 3.4rem;
}
.modal .auth-form--login {
  width: 55rem;
}
.modal .auth-form--register {
  width: 70rem;
}
.modal .auth-form--cart {
  width: 90rem;
}
.modal .auth-form__btn--close {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -1.5rem;
  right: -1.5rem;
  font-size: 3rem;
  font-weight: 500;
  background-color: white;
  border: 0.2rem solid #0094DA;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.modal .auth-form__btn--close:hover {
  background-color: #0094DA;
}
.modal .auth-form__btn--close:hover span {
  color: white;
}
.modal .auth-form__btn--close span {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  color: #0094DA;
}
.modal .auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.modal .auth-form__heading {
  font-size: 2.2rem;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-bottom: 0.2rem solid #0094DA;
  color: #0094DA;
}
.modal .auth-form__switch-btn {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  margin: 0;
  cursor: pointer;
  transition: all 0.2s;
}
.modal .auth-form__switch-btn:hover {
  color: #F68121;
}
.modal .auth-form__body {
  width: 100%;
}
.modal .auth-form__body p {
  font-size: 1.4rem;
  margin: auto;
  text-align: center;
  width: 80%;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}
.modal .auth-form__body p a {
  text-decoration: none;
  color: #0094DA;
}
.modal .auth-form__body button {
  margin-top: 0.8rem;
}
.modal .auth-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.modal .auth-form__item:last-child {
  margin-bottom: 2rem;
}
.modal .auth-form__item label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.modal .auth-form__item input {
  border: 1px solid #0094DA;
  border-radius: 0.8rem;
  padding: 1rem 1.5rem;
  color: #555;
}
.modal .auth-form__item input::placeholder {
  color: rgba(85, 85, 85, 0.5);
  font-family: "Quicksand", sans-serif;
}
.modal .auth-form__item .forget-pw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .auth-form__item .forget-pw a {
  font-weight: 300;
  color: #555;
}
.modal .auth-form__separate {
  margin: 2rem auto;
  text-align: center;
  position: relative;
  z-index: 3;
}
.modal .auth-form__separate::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(85, 85, 85, 0.4);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.modal .auth-form__separate span {
  font-size: 1.4rem;
  background-color: white;
  font-weight: 300;
  display: block;
  height: 2rem;
  width: 18rem;
  margin: auto;
}
.modal .auth-form .other-login {
  display: flex;
  justify-content: space-between;
}
.modal .auth-form .other-login a {
  width: 48%;
  text-align: center;
  text-decoration: none;
  padding: 1rem 1rem;
}
.modal .auth-form .other-login a:first-child {
  background-color: #3A5998;
  color: white;
}
.modal .auth-form .other-login a:first-child:hover {
  background-color: #263a63;
}
.modal .auth-form .other-login a:last-child {
  background-color: #D5493D;
  color: white;
}
.modal .auth-form .other-login a:last-child:hover {
  background-color: #8a2f28;
}
.modal .auth-form .other-login a i {
  margin-right: 0.8rem;
}

.cart__table-wrap {
  text-align: center;
}
.cart__table-wrap .cart__table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.cart__table-wrap .cart__table, .cart__table-wrap .cart__table th, .cart__table-wrap .cart__table td {
  border-bottom: 1px solid rgba(85, 85, 85, 0.4);
}
.cart__table-wrap .cart__table th {
  font-size: 1.8rem;
  padding: 2rem 0;
  color: #555;
}
.cart__table-wrap .cart__table td {
  padding: 2rem 0;
}
.cart__table-wrap .cart__table-item-img {
  max-width: 12rem;
  margin-bottom: 0.5rem;
}
.cart__table-wrap .cart__table-item-name {
  margin: 0;
  font-weight: 500;
  font-size: 1.4rem;
}
.cart__table-wrap .cart__table-retail, .cart__table-wrap .cart__table-price {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0094DA;
}
.cart__table-wrap .cart__table-amount {
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid #0094DA;
  width: 7.5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.cart__table-wrap .cart__table-amount-subtract, .cart__table-wrap .cart__table-amount-plus {
  width: 2.5rem;
  background-color: #0094DA;
  color: white;
  cursor: pointer;
}
.cart__table-wrap .cart__table-amount-plus {
  margin-right: -1px;
}
.cart__table-wrap .cart__table-amount-disable {
  background-color: #555;
}
.cart__table-wrap .cart__table-trash i {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s;
  color: #C4C4C4;
}
.cart__table-wrap .cart__table-trash i:hover {
  color: #D5493D;
}
.cart__table-wrap .cart__table-btn-wrap {
  margin-bottom: 2rem;
}
.cart__table-wrap .cart__table-btn-wrap a {
  margin: 0 1.5rem;
}
.cart__table-wrap h3 {
  font-size: 2.2rem;
  color: #0094DA;
  margin: 3rem;
}

.sp-theo-tc {
  position: relative;
  margin-bottom: 5rem;
}
.sp-theo-tc__wrap {
  justify-content: space-evenly;
}
.sp-theo-tc__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.sp-theo-tc__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: #0094DA;
  opacity: 0;
  transition: all 0.2s;
}
.sp-theo-tc__link:hover::after {
  opacity: 1;
}
.sp-theo-tc__line {
  width: 323px;
  color: #0094DA;
}
@media (max-width: 1024px) {
  .sp-theo-tc__line {
    width: 270px;
  }
}
.sp-theo-tc__pet img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container .sp-theo-tc .nav-underline .sp-theo-tc__tab {
  color: #0094DA;
}

.nav-underline {
  margin-bottom: 3rem;
  position: relative;
}
.nav-underline .is-active {
  color: #0094DA;
}
.nav-underline::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: #C4C4C4;
  border-radius: 0.4rem;
}
.nav-underline__item {
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  font-size: 2.2rem;
  color: #C4C4C4;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  position: relative;
  transition: all 0.2s;
  z-index: 1;
}
@media (max-width: 1024px) {
  .nav-underline__item {
    font-size: 1.8rem;
  }
}
.nav-underline__item::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: #555;
  border-radius: 0.4rem;
  opacity: 0;
  transition: all 0.2s;
}
@media (max-width: 1024px) {
  .nav-underline__item::after {
    height: 0.2rem;
  }
}
.nav-underline__item:not(.is-active):hover::after {
  opacity: 1;
}
.nav-underline__item:not(.is-active):hover {
  color: #555;
}
.nav-underline__line {
  height: 0.3rem;
  background-color: #0094DA;
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  transition: all 0.2s;
  z-index: 1;
  border-radius: 0.4rem;
}
@media (max-width: 1024px) {
  .nav-underline__line {
    height: 0.2rem;
  }
}
.nav-underline__handle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1024px) {
  .nav-underline__handle {
    display: none;
  }
}
.nav-underline__handle span {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
}
.nav-underline__handle span i {
  font-size: 2.2rem;
  color: #0094DA;
}
.nav-underline__handle span:hover i {
  color: #006a9c;
}

.lsp {
  width: 100%;
  margin-bottom: 5rem;
}
.lsp__wrap-slide {
  overflow-x: hidden;
}
@media (max-width: 1024px) {
  .lsp__wrap-slide {
    overflow-x: scroll;
    -ms-overflow-style: none;
  }
  .lsp__wrap-slide::-webkit-scrollbar {
    display: none;
  }
}
.lsp__slide {
  width: 100%;
  transition: all 0.4s ease-in-out;
  display: none;
}
.lsp__slide--active {
  display: flex;
}
.lsp__list {
  display: flex;
}
.lsp__item {
  width: 24.75rem;
  margin: 0 1.5rem;
}
@media (max-width: 768px) {
  .lsp__item {
    width: 45%;
  }
}

.product-template {
  border: 0.1rem solid #C4C4C4;
  border-radius: 0.8rem;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  color: #555;
  position: relative;
}
.product-template:hover .product-template__like {
  opacity: 1;
  visibility: visible;
}
.product-template__persale {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 6rem;
  height: 4rem;
  background-color: #0094DA;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-template__persale p {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.product-template__like {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background-color: #555;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  cursor: pointer;
}
.product-template__like--active {
  animation: upScale 0.3s ease-in forwards;
}
.product-template__like i {
  font-size: 2rem;
  color: white;
}
.product-template__img {
  text-align: center;
  text-decoration: none;
}
.product-template__img img {
  height: 18rem;
}
@media (max-width: 1024px) {
  .product-template__img img {
    height: 14rem;
  }
}
.product-template__rating {
  padding: 2rem 0 0;
}
.product-template__rating i {
  font-size: 1.2rem;
  color: #F68121;
}
.product-template__name {
  text-decoration: none;
  font-weight: 700;
  color: #555;
  font-size: 1.4rem;
  margin: 0;
  padding: 1rem;
  display: block;
}
.product-template__price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin: 0 1rem 1rem 1rem;
}
.product-template__price span {
  margin: 0 1rem;
}
.product-template__cost {
  font-size: 1.8rem;
  margin: 0;
  color: #0094DA;
}
.product-template__saleoff {
  margin: 0;
  font-size: 1.4rem;
  text-decoration: line-through;
}
.product-template button {
  width: 100%;
}

@keyframes upScale {
  0% {
    transform: scale(1);
    background-color: #555;
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.2);
    background-color: #D5493D;
  }
  100% {
    transform: scale(1);
    background-color: #D5493D;
  }
}
.join-us {
  position: relative;
  margin-bottom: 5rem;
}
.join-us__banner {
  width: 100%;
}
.join-us__inner {
  width: 45rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5rem;
  text-align: center;
}
@media (max-width: 1024px) {
  .join-us__inner {
    right: 3rem;
  }
}
@media (max-width: 768px) {
  .join-us__inner {
    right: 2rem;
    width: 36rem;
  }
}
.join-us__title {
  align-items: center;
}
.join-us__title h2 {
  font-size: 2.8rem;
  margin: 0;
  display: inline;
  color: white;
}
@media (max-width: 768px) {
  .join-us__title h2 {
    font-size: 2.2rem;
  }
}
.join-us__title img {
  height: 2.2rem;
  margin-left: 0.8rem;
}
@media (max-width: 768px) {
  .join-us__title img {
    height: 1.6rem;
  }
}
.join-us__text {
  font-size: 1.8rem;
  color: white;
  margin: 1.8rem 0 2.2rem;
  line-height: 2.5rem;
  text-align: left;
}
@media (max-width: 1024px) {
  .join-us__text {
    margin: 1.4rem auto 1.6rem;
  }
}
@media (max-width: 768px) {
  .join-us__text {
    font-size: 1.4rem;
    width: 32rem;
    height: 6rem;
    line-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: center;
  }
}
.join-us a {
  font-size: 2.2rem;
  text-transform: uppercase;
  display: flex;
  width: 21.2rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .join-us a {
    font-size: 1.8rem;
    padding: 0.4rem;
  }
}
.join-us a:hover i {
  transform: translateX(0.5rem);
}
.join-us a i {
  font-size: 1.8rem;
  margin-left: 1rem;
  transition: all 0.2s;
}
@media (max-width: 768px) {
  .join-us a i {
    font-size: 1.4rem;
  }
}

.hot-branding__list {
  display: flex;
  align-items: center;
}
.hot-branding__item {
  width: 22.75rem;
  margin: 0 2.5rem;
}
.hot-branding__link {
  width: 100%;
  display: block;
}
.hot-branding__img {
  width: 100%;
}

.handbook__line {
  width: 26.2rem;
}
@media (max-width: 1024px) {
  .handbook__line {
    width: 220px;
  }
}
.handbook__tab {
  color: #0094DA;
}
.handbook__slide {
  width: 100%;
}
.handbook__list {
  display: flex;
}
@media (max-width: 768px) {
  .handbook__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.handbook__item {
  padding: 2rem;
  border-radius: 0.8rem;
  border: 1px solid #C4C4C4;
}
@media (max-width: 1024px) {
  .handbook__item {
    padding: 1.5rem;
  }
}
@media (max-width: 768px) {
  .handbook__item:nth-child(1), .handbook__item:nth-child(2) {
    margin-bottom: 2rem;
  }
}
.handbook__item-wrap {
  text-align: center;
}
.handbook__item-wrap > a {
  width: 100%;
  display: block;
}
.handbook i {
  font-size: 10rem;
  color: #0094DA;
}
.handbook__title {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.handbook__text {
  font-size: 1.4rem;
  line-height: 2rem;
}

.news__list {
  display: flex;
  align-items: center;
}
.news__item {
  width: 24.75rem;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 1px solid #C4C4C4;
  margin: 0 1.5rem;
}
.news__link {
  width: 100%;
  display: block;
  text-decoration: none;
}
.news__img {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .news__img {
    height: 8rem;
  }
}
.news__text {
  padding: 1rem;
  color: #555;
}
.news__title {
  font-size: 1.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20rem;
  overflow: hidden;
  margin: 0 auto 0.5rem;
}
@media (max-width: 768px) {
  .news__title {
    width: 12rem;
    font-size: 1.4rem;
  }
}
.news__desc {
  font-size: 1.4rem;
  height: 4rem;
  line-height: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0;
}

.footer {
  background-color: #0094DA;
  padding: 5rem 0;
}
.footer__title {
  text-decoration: none;
}
.footer__title > h3 {
  text-align: center;
  font-size: 2.2rem;
  color: white;
  margin: 1rem 0;
}
.footer__items-list {
  padding: 0;
  margin: 0;
}
.footer__items-item {
  list-style: none;
  text-align: center;
}
.footer__items-item a {
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  padding: 0.5rem 0;
  display: block;
}
.footer__items-social {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
}
.footer__items-icon {
  color: white;
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  margin: 0 1rem;
}
@media (max-width: 1024px) {
  .footer__items-icon {
    margin: 0 0.5rem;
  }
}
@media (max-width: 768px) {
  .footer__items-icon {
    width: 3rem;
    height: 3rem;
  }
}
.footer__items-icon i {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .footer__items-icon i {
    font-size: 1.4rem;
  }
}
.footer__items-icon:nth-child(1) {
  background-color: #D5493D;
}
.footer__items-icon:nth-child(2) {
  background-color: #3A5998;
}
.footer__items-icon:nth-child(3) {
  background-color: #D5493D;
}
.footer__items-icon:nth-child(4) {
  background: linear-gradient(to bottom, #8457CD, #D32E96, #E46258, #FFD879);
}
.footer__copyright {
  font-size: 1.8rem;
  text-align: center;
  color: white;
  margin: 8rem auto 0;
}

.scroll-top {
  text-decoration: none;
  width: 5rem;
  height: 5rem;
  border: 2px solid #0094DA;
  border-radius: 50%;
  background-color: #f0f5f7;
  font-size: 3rem;
  color: #0094DA;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15rem;
  right: 12rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.scroll-top--active {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1024px) {
  .scroll-top {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
