@import '../Abstracts/mixin';

.header {
    &__top {
        display: flex;
        padding: 2rem 3.5rem;
        align-items: center;
        @include respond(tablet){
            justify-content: space-between;
            padding: 2rem 1rem;
        }
    }
    &__logo {
        margin-right: 5rem;
        @include respond(tablet) {
            margin-right: 0;
        }
        a {
            text-decoration: none;
            img {
                height: 3rem;
                @include respond(phone) {
                    height: 2.4rem;
                    margin-left: 1rem;
                }
            }
        }
    }
    &__search {
        border: 1px solid $cl-primary;
        border-radius: .8rem;
        overflow: hidden;
        flex: 1;
        @include respond(tablet) {
            display: none;
        }
        &-wrap {
            position: relative;
            display: inline-block;
            cursor: pointer;
            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 1rem;
                color: $cl-white;
            }
        }
        form {
            display: flex;
            align-items: center;
            select {
                cursor: pointer;
                padding: 1rem;
                border: none;
                background-color: $cl-primary;
                font-family: $ff-primary;
                font-weight: 600;
                color: $cl-white;
                font-size: 1.4rem;
                position: relative;
                -moz-appearance: none;
                /* for Chrome */
                -webkit-appearance: none;
                option {
                    background-color: $cl-white;
                    color: $cl-primary;
                }
                
            }
            /* For IE10 */
            select::-ms-expand {
                display: none;
            }
            input {
                padding: 1rem;
                border: none;
                font-size: 1.4rem;
                font-family: $ff-primary;
                flex: 1;
                outline: none;
            }
            .header__search-icon {
                margin-right: 1rem;
                i {
                    font-size: 1.4rem;
                    color: $cl-primary;
                }
            }
        }
    }
    &__account {
        margin-left: 5rem;
        display: flex;
        align-items: center;
        border: 1px solid $cl-primary;
        padding: .7rem 1rem;
        border-radius: .6rem;
        cursor: pointer;
        @include respond(tablet) {
            display: none;
        }
        i {
            font-size: 2.2rem;
            color: $cl-primary;
            margin-right: 1rem;
        }
        p {
            font-size: 1.4rem;
            font-weight: 500;
            margin: 0;
        }
        &:hover {
            background-color: $cl-primary;
            i {
                color: white;
            }
            p {
                color: white;
            }
        }
    }
    &__cart {
        display: flex;
        margin-left: 4rem;
        @include respond (tablet) {
            margin-left: 0;
        }
        @include respond(phone) {
            margin-right: .4rem;
        }
        cursor: pointer;
        &-icon {
            position: relative;
            padding: .8rem .8rem;
            align-items: center;
            i {
                font-size: 2.2rem;
                color: $cl-primary;
            }
        }
        &-amount {
            border: .2rem solid $cl-orange;
            display: flex;
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            color: $cl-orange;
            font-weight: 700;
            font-size: 1.6rem;
            background-color: $cl-white;
        }
    }
    &__nav {
        @include respond(tablet) {
            display: none;
        }
        &-list {
            display: flex;
            padding: 0;
            justify-content: space-between;
            margin: 0;
            border-top: 1px solid rgba($cl-gray, .4);
        }
        &-item {
            list-style: none;
            position: relative;
            z-index: 4;
            &:nth-child(2):hover .header__nav-child, &:nth-child(3):hover .header__nav-child, &:nth-child(4):hover .header__nav-child, &:nth-child(2):active .header__nav-child, &:nth-child(3):active .header__nav-child, &:nth-child(4):active .header__nav-child {
                opacity: 1;
                visibility: visible;
            }
            &:hover {
                background-color: $cl-primary-light;
            }
        }
        &-link {
            padding: 1rem 2.5rem;
            text-decoration: none;
            font-size: 2.2rem;
            color: $cl-primary;
            font-weight: 500;
            display: flex;
            align-items: center;
            transition: all .2s;
            @include respond(md-desktop) {
                font-size: 1.8rem;
                padding: 1rem 2rem;
            }
            i {
                font-size: 1.4rem;
                margin-left: .6rem;
            }
        }
        &-child {
            margin: 0;
            position: absolute;
            left: 0;
            top: 100%;
            padding: 1rem 0;
            width: 55rem;
            display: flex;
            flex-flow: column wrap;
            height: 20rem;
            background-color: $cl-primary-light;
            opacity: 0;
            visibility: hidden;
            transition: all .2s;
            &-item {
                list-style: none;
                display: flex;
                flex: 1 1 2rem;
            }
            &-link {
                padding: 1rem 2.5rem;
                width: 100%;
                font-size: 1.8rem;
                text-decoration: none;
                color: $cl-primary;
                font-weight: 500;
                &:hover {
                    i {
                        opacity: 1;
                        visibility: visible;
                    }
                    span {
                        transform: translateX(0);
                    }
                }
                i {
                    margin-right: .5rem;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .2s;
                }
                span {
                    transform: translateX(-2rem);
                    display: inline-block;
                    transition: all .2s;
                }
            }
        }
    }
    &__benifits {
        display: flex;
        justify-content: space-evenly;
        border-top: 1px solid rgba($cl-gray, .4);
        @include respond(phone) {
            display: none;
        }
        &-item {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            color: rgba($cl-gray, .8);
            font-weight: 500;
            i {
                font-size: 3.5rem;
                margin-right: 1.6rem;
                @include respond(tablet) {
                    font-size: 2.8rem;
                }
            }
            p {
                width: 10rem;
                line-height: 1.8rem;
            }
        }
    }
    &__banner {
        width: 100%;
        overflow: hidden;
        position: relative;
        &-slide {
            width: 100%;
            display: flex;
            position: relative;
            transition: all .8s ease-in-out;
        }
        &-img {
            display: block;
        }
        &-item {
            position: relative;
        }
        &-content {
            position: absolute;
            top: 50%;
            left: 9rem;
            transform: translateY(-50%);
            @include respond(phone) {
                left: 4rem;
            }
            a {
                width: 21rem;
                font-size: 2.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 1.8rem;
                    margin-left: 1rem;
                    @include respond(tablet) {
                        font-size: 1.6rem;
                    }
                }
                @include respond (tablet) {
                    width: 16rem;
                    font-size: 1.8rem;
                }
                @include respond (phone) {
                    width: 12rem;
                    font-size: 1.2rem;
                }
            }
        }
        &-logo {
            width: 30rem;
            @include respond(md-desktop) {
                width: 25rem;
            }
            @include respond(tablet) {
                width: 20rem
            }
            @include respond(phone) {
                width: 12rem;
            }
        }
        &-slogan {
            font-size: 3.5rem;
            font-weight: bold;
            width: 45rem;
            text-transform: uppercase;
            &:nth-child(2) {
                margin: 1.5rem 0 0;
                @include respond(phone) {
                    margin: .5rem 0 0;
                }
            }
            &:nth-child(3) {
                margin: 0 0 4rem;
                @include respond(phone) {
                    margin: 0 0 1rem;
                }
            }
            @include respond(md-desktop) {
                font-size: 2.8rem;
            }
            @include respond(tablet) {
                font-size: 2.2rem;
            }
            @include respond(phone) {
                font-size: 1.4rem;
            }
        }
        &-pre, &-next {
            font-size: 4.5rem;
            color: $cl-primary;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 6rem;
            height: 6rem;
            display: flex;
            justify-content: center;
            background-color: transparent;
            align-items: center;
            border-radius: 50%;
            transition: all .2s;
            &:hover {
                background-color: rgba($cl-white, .6);
            }
            @include respond(tablet) {
                font-size: 3.5rem;
            }
            @include respond(phone) {
                font-size: 2.5rem;
                width: 3rem;
                height: 3rem;
            }
        }
        &-pre {
            left: 1rem;
            cursor: pointer;
            @include respond(tablet) {
                left: 0;
            }
            @include respond(phone) {
                left: .5rem;
            }
        }
        &-next {
            right: 1rem;
            cursor: pointer;
            @include respond(tablet) {
                right: 0;
            }
            @include respond(phone) {
                right: .5rem;
            }
        }
        &-dots {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }
        &-dot {
            margin: 2rem 2rem;
            width: 1.6rem;
            height: 1.6rem;
            background-color: $cl-white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include respond(tablet) {
                width: 1.4rem;
                height: 1.4rem;
                margin: 1.2rem;
            }
            @include respond(tablet) {
                width: 1rem;
                height: 1rem;
                margin: 1rem;
            }
        }
        &-dot-inner {
            background-color: transparent;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            @include respond(tablet) {
                width: .8rem;
                height: .8rem;
            }
            @include respond(phone) {
                width: .6rem;
                height: .6rem;
            }
        }
        &-dot-active {
            background-color: $cl-primary;
        }
    }
}