.hot-branding {
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        width: 22.75rem;
        margin: 0 2.5rem;
    }
    &__link {
        width: 100%;
        display: block;
    }
    &__img {
        width: 100%;
    }
}