.join-us {
    position: relative;
    margin-bottom: 5rem;
    &__banner {
        width: 100%;
    }
    &__inner {
        width: 45rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5rem;
        text-align: center;
        @include respond(md-desktop) {
            right: 3rem;
        }
        @include respond(tablet) {
            right: 2rem;
            width: 36rem;
        }
    }
    &__title {
        align-items: center;
        h2 {
            font-size: $fs-28;
            margin: 0;
            display: inline;
            color: $cl-white;
            @include respond(tablet) {
                font-size: $fs-22;
            }
        }
        img {
            height: 2.2rem;
            margin-left: .8rem;
            @include respond(tablet) {
                height: 1.6rem;
            }
        }
    }
    &__text {
        font-size: $fs-18;
        color: $cl-white;
        margin: 1.8rem 0 2.2rem;
        line-height: 2.5rem;
        text-align: left;
        @include respond(md-desktop) {
            margin: 1.4rem auto 1.6rem;
        }
        @include respond(tablet) {
            font-size: $fs-14;
            width: 32rem;
            height: 6rem;
            line-height: 2rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            text-align: center;
        }
    }
    a {
        font-size: $fs-22;
        text-transform: uppercase;
        display: flex;
        width: 21.2rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        @include respond(tablet) {
            font-size: $fs-18;
            padding: .4rem;
        }
        &:hover i {
            transform: translateX(.5rem);
        }
        i {
            font-size: $fs-18;
            margin-left: 1rem;
            transition: all .2s;
            @include respond(tablet) {
                font-size: $fs-14;
            }
        }
    }
}