.join-us {
    position: relative;
    &__banner {
        width: 100%;
    }
    &__inner {
        width: 40rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7rem;
        text-align: center;
    }
    &__title {
        align-items: center;
        h2 {
            font-size: $fs-28;
            margin: 0;
            display: inline;
            color: $cl-white;
        }
        img {
            height: 2.2rem;
            margin-left: .8rem;
        }
    }
    &__text {
        font-size: $fs-18;
        color: $cl-white;
        margin: 1.8rem 0 2.2rem;
    }
    a {
        font-size: $fs-22;
        text-transform: uppercase;
        display: flex;
        width: 21.2rem;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        &:hover i {
            transform: translateX(.5rem);
        }
        i {
            font-size: $fs-18;
            margin-left: 1rem;
            transition: all .2s;
        }
    }
}