.nav-underline {
    margin-bottom: 3rem;
    position: relative;
    .is-active {
        color: $cl-primary;
    }
    &::after {
        content: "";
            position: absolute;
            bottom: -.3rem;
            left: 0;
            width: 100%;
            height: .3rem;
            background-color: $cl-gray-light;
            border-radius: .4rem;
    }
    &__item {
        padding: 1rem 1.5rem;
        text-decoration: none;
        display: inline-block;
        font-size: $fs-22;
        color: $cl-gray-light;
        text-transform: uppercase;
        margin: 0;
        font-weight: 700;
        position: relative;
        transition: all .2s;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            bottom: -.3rem;
            left: 0;
            width: 100%;
            height: .3rem;
            background-color: $cl-gray;
            border-radius: .4rem;
            opacity: 0;
            transition: all .2s;
        }
        &:not(.is-active):hover::after {
            opacity: 1;
        }
        &:not(.is-active):hover {
            color: $cl-gray;
        }
    }
    &__line {
        height: .3rem;
        background-color: $cl-primary;
        position: absolute;
        top: 100%;
        left: 0;
        bottom: 0;
        transition: all .2s;
        z-index: 1;
        border-radius: .4rem;
    }
    &__handle {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        span {
            display: inline-block;
            padding: 1rem;
            cursor: pointer;
            i {
                font-size: 2.2rem;
                color: $cl-primary
            }
            &:hover i{
                color: $cl-primary-dark;
            }
        }
    }
}