//COLOR 
$cl-white: white;
$cl-black: black;
$cl-primary: #0094DA;
$cl-primary-dark: #006a9c;
$cl-primary-light: #f0f5f7;
$cl-gray: #555;
$cl-gray-light: #999;
$cl-orange: #F68121;
$cl-red: #D5493D;

//FONT_FAMILY
$ff-primary: 'Quicksand', sans-serif;