//COLOR 
$cl-white: white;
$cl-black: black;
$cl-primary: #0094DA;
$cl-primary-dark: #006a9c;
$cl-primary-light: #f0f5f7;
$cl-gray: #555;
$cl-gray-light: #C4C4C4;
$cl-orange: #F68121;
$cl-red: #D5493D;

//FONT_FAMILY
$ff-primary: 'Quicksand', sans-serif;

//FONT_SIZE
$fs-14: 1.4rem;
$fs-18: 1.8rem;
$fs-22: 2.2rem;
$fs-28: 2.8rem;
$fs-35: 3.5rem;